<!DOCTYPE html>
<html lang="en">
<head>
  {{>page/head}}
</head>
<body class="{{className}}">
  {{>page/header}}

  <div class="container">
    {{{body}}}
  </div><!-- .container -->

  {{>page/footer}}
  {{>page/scripts}}
</body>
</html>
